<html ng-app="App">
<head>
	<title>Ionic Tinder Cards</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<link href="http://code.ionicframework.com/1.2.4/css/ionic.min.css" rel="stylesheet" />
	<link href="../dist/ion-tinder-cards.min.css" rel="stylesheet" />
</head>
<body ng-controller="AppController">
	<ion-header-bar class="bar-calm">
		<h1 class="title">Ionic Tinder Cards</h1>
	</ion-header-bar>
	<ion-content scroll="false">

		<td-pulse ng-if="pulse">
			<img src="http://api.randomuser.me/portraits/med/women/35.jpg" />
		</td-pulse>

		<td-cards delegate-handle="cards" ng-if="cards.length > 0">
			<td-card ng-repeat="card in cards" on-destroy="remove($index)" on-transition-left="reject($index)" on-transition-right="like($index)">
				<span class="no">NOPE</span>
				<span class="yes">LIKE</span>
				<img ng-src="{{card.image}}" width="300" height="300" />
				<div class="caption">
					<h2 class="title">{{card.name}}, {{card.age}}</h2>
					<p class="description">{{card.description}}</p>
				</div>
			</td-card>
		</td-cards>

		<td-controls ng-if="cards.length > 0">
			<td-control-button action="no" icon="ion-close" ng-click="swipeLeft()"></td-control-button>
			<td-control-button action="yes" icon="ion-heart" ng-click="swipeRight()"></td-control-button>
		</td-controls>

	</ion-content>

	<script src="http://code.ionicframework.com/1.2.4/js/ionic.bundle.min.js"></script>
	<script src="../bower_components/collide/collide.js"></script>
	<script src="../dist/ion-tinder-cards.min.js"></script>
	<script src="app.js"></script>
</body>
</html>